.container {
    background-color: white;
    width: 600px; /*force it to be the width of the paper */
    margin: 0 auto; /* top/bottom=0, left/right=auto (centers it!) */
    padding: 40px; /*adds space inside the white box */
    border: 1px solid #ddd; /* a subtle grey border */
}
/* target the entire page body */
body {
    background-color: #f4f4f9; /* a nice light grey */
    font-family: Arial, sans-serif; /* get rid of the ugly default font */
    color: #333; /* dark grey text is easier to read than black */
}

.header-section {
    display: flex; /*activates the superpower*/
    align-items: center; /*vertically centers the text with the image */
    justify-content: space-between; /* pushes text to left, image to right */
}
h1 {
    color: #2c3e50; /* Dark Blue */
    /*text-align: center; /* Move it to the middle */
    font-size: 36px;
}

hr {
    border: 0; /* removes the ugly default 3D border */
    height: 1px; /* makes it thin */
    background-color: #eee; /*makes it a very light grey */
    margin: 30px 0; /* add lots of space above and below it */
}
/*add space under the headers */
h2 {
    border-bottom: 2px solid #eee; /* adds a line under "education" */
    padding-bottom: 10px; /* space between text and line */
    margin-top: 30px; /* space above the section */
    margin-bottom: 15px; /*space below the section*/
}

li {
    margin-bottom: 8px; /* add space between list items > spreads out your bullet points */
}

img {
    display: block; /* allows us to move it */
    /*margin: 0 auto; /* centers the image */
    border-radius: 50%; /* makes it a circle */
    border: 5px solid #2c3e50; /* adds a border matching the header */
    margin-bottom: 20px; /*add space under the image*/
}

a {
    color: #e74c3c; /* Red color */
    text-decoration: none; /* removes the underline */
    font-weight: bold; 
}

/* change color when you hover over the link with mouse */
a:hover {
    color: #c0392b;
    text-decoration: underline;
}

/*remove the bullet points and align them sideways */
.skills-list {
    list-style: none; /*no more dots*/
    padding: 0; /*remove default indentation*/
    display: flex; /*make them sit side-by-side*/
    gap: 10px; /* add a 10px gap between every item automatically */
    flex-wrap: wrap; /*if the screen is too small, let them drop to the next line*/
}

.skills-list li {
    background-color: #2c3e50; /*dark blue bg*/
    color: white; /*white text*/
    padding: 8px 16px; /*breathing room inside the badge */
    border-radius: 20px; /*fully rounded corners (pill shape)*/
    font-size: 14px; 
    font-weight: bold;
}

.footer {
    text-align: center; /* center the text */
    font-size: 12px; /* make it small */
    color: #777; /*light grey text*/
    margin-top: 40px; /*push it away from the skills */
}